<h1>Chat comunitario con mensajes guardados en DB</h1>
<div id="identifier">
</div>
<div>
    <h2>Escribe el mensaje que quieras enviar: </h2>
    <input id="chatbox">
</div>
<div>
    <h2>Mensajes del chat</h2>
    <p id="messages"></p>
</div>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/chat.js"></script>