<h1>Chat comunitario con mensajes guardados en DB</h1>
<div>
    <input id="chatbox">
</div>
<div>
    <input id="messages">
</div>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/chat.js"></script>