<div class="px-4 antialiased bg-slate-200 h-screen flex items-center justify-center">
    <div
        class="my-10 max-w-lg m-auto bg-white p-8 rounded-xl shadow shadow-slate-300">
        <div class="my-3 gap-3 flex flex-row justify-start items-center">
            <h1 class="text-3xl font-medium text-black py-4">Email sent</h1>
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><g fill="none" stroke="#00a000" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"><path d="m7 12.5l3 3l7-7"/><path d="M12 22c5.523 0 10-4.477 10-10S17.523 2 12 2S2 6.477 2 12s4.477 10 10 10Z"/></g></svg>
        </div>
        <p class="mb-5 text-slate-500">An email has been sent to <span class="font-bold italic">{{email}}</span> with instructions to reset
            your password.
        </p>

        <p class="text-center"><a
                        href="/views/products"
                        class="text-indigo-600 font-medium inline-flex space-x-1 items-center">Go home</a></p>

    </div>
</div>
