<h1>¿Olvidaste tu contraseña?</h1>

<div>
    <form method="post" action="/api/sessions/forgotpassword">
        <input type="text" placeholder="correo" name="email"/>
        <br/><br/>
        <button type="submit">Enviar link</button>
    </form>
</div>