<h1>Restablecer contraseña</h1>

<div>
    <p style="color:red">{{error}}</p>
    <form method="post" action="/api/sessions/resetpassword?token={{token}}">
        <input type="text" placeholder="correo" name="email"/>
        <br/><br/>
        <input type="password" placeholder="nueva contraseña" name="newPassword"/>
        <br/><br/>
        <button type="submit">Restablecer</button>
    </form>
</div>