<div class="login-box">
    <h2>Crear credenciales</h2>
    <form id="signupForm">

        <div class="user-box">
            <input type="text" id="first_name" name="first_name"
                placeholder="Nombres" required="true"/>
            <label>Nombres</label>
        </div>

        <div class="user-box">
            <input type="text" id="last_name" name="last_name"
                placeholder="Apellidos" required="true" />
            <label>Apellidos</label>
        </div>

        <div class="user-box">
            <input type="text" id="email" name="email" placeholder="Correo"
                required="true"/>
            <label>Correo</label>
        </div>

        <div class="user-box">
            <input type="number" id="age" name="age" placeholder="Edad"
                required="true"/>
            <label>Edad</label>
        </div>

        <div class="user-box">
            <input type="password" id="password" name="password"
                placeholder="Contraseña" required="true"/>
            <label>Contraseña</label>
        </div>

        <button id="signup" type="button">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            Registrar
        </button>
    </form>
</div>

<script src="/js/signup.js"></script>