<div class="flex justify-center items-center h-full w-full">
    <div class="login-box m-8 sm:m-20 max-w-md">
        <h2 class="text-2xl">Crear credenciales</h2>
        <form id="signupForm">

            <div class="user-box">
                <input type="text" id="first_name" name="first_name"
                    placeholder="Nombres" required="true" />
                <label>Nombres</label>
            </div>

            <div class="user-box">
                <input type="text" id="last_name" name="last_name"
                    placeholder="Apellidos" required="true" />
                <label>Apellidos</label>
            </div>

            <div class="user-box">
                <input type="text" id="email" name="email" placeholder="Correo"
                    required="true" />
                <label>Correo</label>
            </div>

            <div class="user-box">
                <input type="number" id="age" name="age" placeholder="Edad"
                    required="true" />
                <label>Edad</label>
            </div>

            <div class="user-box">
                <input type="password" id="password" name="password"
                    placeholder="Contraseña" required="true" />
                <label>Contraseña</label>
            </div>

            <button id="signup" type="button" class="my-4">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                Registrar
            </button>
        </form>

        <div class="my-2">
            <p
                class="text-white text-center text-xs peer-placeholder-shown:text-base peer-placeholder-shown:text-gray-440 peer-placeholder-shown:top-2 transition-all peer-focus:-top-3.5 peer-focus:text-gray-600 peer-focus:text-sm">
                You already have an account? <a class="underline font-bold"
                    href="/api/sessions/login">Log in!</a></p>
        </div>
    </div>
</div>

<script src="/js/signup.js"></script>