.selectComp{
    opacity: 0;
    pointer-events: none;
    transition: opacity ease-in-out 150ms;
}
.selectComp.show{
    pointer-events: auto;
    opacity: 1;
}
.quickview{
    position: absolute;
    bottom: 40px;
    left: 40px;
    opacity: 0;
}
.cardImage:hover + .quickview{
    opacity: 1;
}

.modalBg{
    opacity: 0;
    pointer-events: none;
    transition: opacity ease-in-out 300ms;
}
.modalBg.show{
    pointer-events: auto;
    opacity: 1;
}
.modalDeleteBg{
    opacity: 0;
    pointer-events: none;
    transition: opacity ease-in-out 300ms;
}

.modalDeleteBg.show{
    pointer-events: auto;
    opacity: 1;
}
.modalPanel{
    opacity: 0;
    pointer-events: none;
    transition: opacity ease-in-out 300ms;
}
.modalPanel.show{
    pointer-events: auto;
    opacity: 1;
}
.modalDeletePanel{
    opacity: 0;
    pointer-events: none;
    transition: opacity ease-in-out 300ms;
}
.modalDeletePanel.show{
    pointer-events: auto;
    opacity: 1;
}